html{
    background:black;
    
}

.container-fluid{
    background: black;
    color: white;
    font-size: 1.6vmin;
    font-family: 'Orbitron', sans-serif;
    
    

}
/* div{
    border: 1px dotted forestgreen;
} */
header{
    font-size: 1.3vw;
    color: white;
    background: black;
    text-align: center;
}
footer{
    color: white;
    background: black;
    text-align: center;
    font-size: 1.5vw;
}
bombImg{
    position: relative;

}
#main{
    max-width: 68%;
    max-height: 50%;
}
#intro{
    background: black;
    font-size: 18px;
    color: white;

}

#bonusBtn{
    position: absolute;
    background: grey;
    text-align: center;
    font-size: 2vw;
    top: 6%;
    left: 88%;
    height: 13%;
    width: 15%;
    border-top: 2px dotted green;
    border-left: 2px dotted green;
    border-bottom: 2px dotted #cf3d39;
    border-right: 2px dotted #cf3d39;
    visibility: hidden;
    /* top: 51.5%;
    left: 42%;
    height: 10%;
    width: 16%; */
}

#startBtn{
    position: absolute;
    background: grey;
    text-align: center;
    font-size: 2vw;
    top: 12%;
    left: 3%;
    height: 7%;
    width: 11%;
    /* top: 51.5%;
    left: 42%;
    height: 10%;
    width: 16%; */
}
#win{
    position: absolute;
    background: black;
    top: 88%;
    left: 4%;
    color: green;
    border: 1px dotted green;
    font-size: 2vw;
    box-shadow: 3px 3px green;
}
#lose{
    position: absolute;
    background: black;
    top: 88%;
    left: 82%;
    color: #cf3d39;
    border: 1px dotted #cf3d39;
    font-size: 2vw;
    box-shadow: 3px 3px #cf3d39;
}
#numToGuess{
    position: absolute;
    text-align: center;
    font-size: 4vw;
    color: #cf3d39;
    background: black;
    top: 51.5%;
    left: 42%;
    height: 10%;
    width: 16%;
    border: 1px dotted #cf3d39;
}
#currentScore{
    position: absolute;
    text-align: center;
    font-size: 3vw;
    color: green;
    background: black;
    top: 63.4%;
    left: 43%;
    height: 8%;
    width: 14%;
}
#timer{
    font-size: 2vw;
    text-align: center;
    color: #cf3d39;
    border: 1px solid black;
    position: absolute;
    background: black;
    top: 31%;
    left: 32.4%;
    height: 5.4%;
    width: 11%;
}
#startBtn:hover{
    background: lightgrey;
    border: 3px solid black;
}
#btnOne:hover{
    background: #3dadf4;
    border: 3px solid black;
    
}
#btnTwo:hover{
    background: #79fb52;
    border: 3px solid black;
}
#btnThree:hover{
    background: #ff494d;
    border: 3px solid black;
}
#btnFour:hover{
    background: yellow;
    border: 3px solid black;
}
.btn{
    position: absolute;
    top: 83%;
    
}
#btnOne {
    position: absolute;
    height: 9%;
    width: 7%;
    background: blue;
    top: 82%;
    left: 27.5%;
    border: 1px solid darkgray;
    
    
}
#btnTwo {
    position: absolute;
    height: 9%;
    width: 7%;
    background: green;
    top: 82%;
    left: 40%;
    border: 1px solid darkgray;
}
#btnThree {
    position: absolute;
    height: 9%;
    width: 7%;
    background: red;
    top: 82%;
    left: 52.3%;
    border: 1px solid darkgray;
}
#btnFour {
    position: absolute;
    height: 9%;
    width: 7%;
    background: #fddf4e;
    top: 82%;
    left: 64.8%;
    border: 1px solid darkgray;
}
